
/*div classes .vll and .vlr should be requirements*/
.vll {
  border-left: 3px solid rgb(241, 241, 241);
  height: 500px;
  position: absolute;
  left: 3%;
  margin-left: -3px;

}
.vlr {
  border-left: 3px solid rgb(241, 241, 241);
  height: 500px;
  position: absolute;
  left: 97%;
  margin-left: -3px;

}

html{
  width: 6;
}

.limit{
  text-align:center;
  word-break: break-all;
  
}

/* Automatics Below */
body{
    font-size:medium;
    background-color: rgb(15, 15, 15);
    color: rgb(241, 241, 241);
}

a:link {
    color: rgb(68, 169, 251);
    background-color: transparent;
    text-decoration: underline;
    
  }
  
  a:visited {
    color: rgb(128, 13, 146);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:hover {
    color: rgb(245, 85, 85);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(168, 168, 104);
    background-color: transparent;
    text-decoration: underline;
  }

h3{
    color: rgb(179, 128, 255);
}

h1{
    color:rgb(116, 197, 234)
}

li{
    color:rgb(40, 199, 146)
}

